<h2>Акционерное Общество «Самарский речной порт» предлагает
    на различные сроки во временное владение и пользование открытые площадки, склады и офисные помещения
</h2>

<p>На охраняемой территории расположенной по адресу: г. Самара, Стрелка рек Волги и Самары, «Грузовой район» имеются автомобильные и железнодорожные подъездные пути, возможность перемещения грузов
    со складов на воду. Производится погрузка и выгрузка автомашин, полувагонов, крупногабаритных и тяжеловесных грузов</p>

<ul>
    <li>Крытые склады площадью до 2 500 кв.м.</li>
    <li>Открытая площадка с твёрдым покрытием, оборудованная перегрузочной техникой площадью 2 500 кв.м.</li>
    <li>Портальный кран типа «Ганц» г/п 5/6 тонн – 2 ед.</li>
    <li>Портальный кран типа «Ганц» г/п 16/27,5 тонн – 2 ед.</li>
</ul>

<p>В здании «Грузовой конторы» имеются офисные помещения со всеми удобствами от 15 кв.м до 45 кв.м, имеются парковочные места под легковой автотранспорт.</p>
