<h2>Порт сегодня, это высокомеханизированное транспортное предприятие, которое располагает благоустроенными причалами, оснащенными портальными кранами грузоподъемностью
    5,10,16 и 27,5 тонн, а также кранами «Деррик» грузоподъемностью 100 тонн.</h2>

<p>В порту ведется перегрузка контейнеров массой 20 и 30 тонн, тяжеловесных и крупногабаритных грузов, в том числе грузов предельной габаритности с их отгрузкой на железную дорогу или автотранспорт.</p>

<p>Из разных стран мира — Испании, Италии, Греции, Турции, Германии – поступают грузы в Самарский речной порт, а отсюда в Иран, Болгарию, Турцию и другие страны Европы и Азии. Порт по-прежнему обеспечивает город и область речным песком и другими минерально-строительными грузами.</p>

<p>На территории порта расположены два закрытых склада площадью более 5 тысяч квадратных метров, а также большие открытые складские площади. Ко всем причалам и складам подведены железнодорожные пути
    и автодороги.</p>

<p>Гарантированные глубины у причалов порта и на подходах к ним 4 метра.
    Это допускает обработку у причалов грузовых теплоходов грузоподъемностью до 5300 тонн, таких как «Волго-Дон», «Волжский», «Сормовский», «Волго-Балт», в том числе и все суда типа «река-море», выполняющие загранперевозки.
</p>

<p>Порт имеет причальную грузовую стенку с 4-мя швартовыми устройствами, длиной 419 метров,
    и гарантированной глубиной 4 метра, грузовые склады, подъемно-транспортное оборудование, подъездные
    и внутрипортовые железнодорожные и автомобильные пути.</p>

<p>На территории порта расположены восемь портальных кранов.</p>

<p>На фронтальной части грузовой причальной стенки находятся два портальных крана типа «Альбрехт» грузоподъемностью 10 тонн каждый, один портальный кран типа «Альбатрос» грузоподъемностью 10 тонн, два портальных крана типа «Ганц» грузоподъемностью 5/6 тонн каждый и два портальных крана типа «Ганц» грузоподъемностью 16/27,5 тонн.</p>

<p>В тыловой части грузового района располагаются один портальный кран типа «Кировец» грузоподъемностью 10 тонн.</p>

<p>Кроме этого на фронтальной грузовой причальной стенке имеется кран «Деррик» грузоподъемностью
    100 тонн.</p>

<p>На территории порта имеется железнодорожный повышенный путь для выгрузки навалочных грузов
    из полувагонов или вагонов типа Думкар.</p>

<p>На территории порта имеются открытые площадки для складирования различных родов груза, а также крытые не отапливаемые склады общей площадью 5000 кв. метров.</p>

<p>Водные подходы с достаточной глубиной и шириной для беспрепятственного прохода самоходных буксирных и толкаемых составов, а также рейды прибытия и отправления, обеспечивающие безопасную стоянку судов.
    Порт располагает собственными площадками намыва и хранения песка речного, одна площадка находится
    на территории порта общей вместимостью около 350000 тонн, вторая на левом берегу р. Самара 3,5км общей вместимостью около 300000 тонн.</p>

<p>Порт имеет в наличие следующий флот</p>

<h3>Буксирные суда</h3>

<p>Проекта 887А типа «Шлюзовой», 911В типа «РТ», Р45Б, Р45 типа «Волгарь», «Урал», Р47 типа «Портовый», Р103А типа «Рейдовый».</p>

<img data-src="images/description/description-01.jpg" src="" alt="Буксирные суда">

<h3>Несамоходные сухогрузные суда:</h3>

<p>Баржи-бункера проекта Р-85, Р-85А грузоподъемностью 2500тонн, трюмная баржа проекта 81500 грузоподъемностью 3060тонн, баржи-площадки проекта 81109 грузоподъемностью 1315тонн, проекта 942 грузоподъемностью 1000 тонн.</p>

<img data-src="images/description/description-02.jpg" src="" alt="Несамоходные сухогрузные суда">

<h3>Вспомогательные суда:</h3>

<p>Проект Р376У, проекта 354к типа «ОС».</p>

<img data-src="images/description/description-03.jpg" src="" alt="Вспомогательные суда">

<h3>Суда специального назначения технического флота:</h3>

<ul>
    <li>Плавучие краны: проекта 81050 грузоподъемностью 16 тонн, проекта 528-Р грузоподъемностью 5 тонн.</li>
    <li>Гидроперегружатели: проекта 1389, проекта Р-68, проекта Р-68А.</li>
    <li>Земснаряд проекта Р-109</li>
    <li>Мотозавозня проекта 946</li>
    <li>Док-кессон проекта 814А грузоподъемностью 100 тонн.</li>
</ul>

<img data-src="images/description/description-03.jpg" src="" alt="Суда специального назначения технического флота">

<p>Продолжительность навигации — с 01 апреля до 31 ноября.</p>
