$icomoon-prefix: 'icon--';
$icomoon-font-name: 'icomoon';
$icomoon-font-family: 'icomoon';

$icomoon-icons: (
	vk: '\e910',
	arrow-down: '\e901',
	arrow-left: '\e902',
	arrow-right: '\e903',
	arrow-up: '\e904',
	anchor: '\e900',
	box: '\e905',
	cart: '\e906',
	document: '\e907',
	file-empty: '\e908',
	file: '\e909',
	gear: '\e90a',
	geo: '\e90b',
	house: '\e90c',
	mail: '\e90d',
	mouse: '\e90e',
	ship: '\e90f'
);
