<!-- 404 -->
<section class="section section--404">
    <div class="section__wrapper container">
        <div class="section__content">
            <div class="page404">
                <div class="page404__inner">
                    <div class="page404__waves">
                        <img data-src="images/page404/page404-wave.svg" src="" alt="волны">
                        <img data-src="images/page404/page404-wave.svg" src="" alt="волны">
                    </div>
                    <div class="page404__box">
                        <h1 class="page404__title">
                            <span>4</span>
                            <div class="page404__decor"><img class="page404__title-icon" data-src="images/page404/404.svg" src="" alt="0" width="101" height="101"> </div>
                            <span>4</span>
                        </h1>
                        <div class="page404__info">
                            <p class="page404__about">Страница не найдена</p>
                            <p class="page404__desc">Извините, но такого адреса страницы
                                не существует</p>
                        </div>
                        @@include('includes/button.html', {
                            "id": ["outlined", "arrow"],
                            "text": "Вернуться на главную",
                            "href": "index.html",
                        })
                    </div>
                    <div class="page404__waves">
                        <img data-src="images/page404/page404-wave.svg" src="" alt="волны">
                        <img data-src="images/page404/page404-wave.svg" src="" alt="волны">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
