<!-- Hero -->
<section class="section section--hero">
    <div class="section__wrapper container">
        <div class="section__content">
            <div class="hero">
                <div class="hero__content">
                    <h1 class="hero__title"><span>Самарский речной порт</span><span>На волне с вами!</span></h1>
                </div>

                <div class="hero__video">
                    <video id="video" muted autoplay loop tabindex="0" playsinline>
                        <source src="images/hero-video.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="hero__scroll" data-hero-scroll></div>
            </div>
        </div>
    </div>
</section>
