<!-- Navy -->
<section class="section section--navy">
    <div class="section__wrapper container">
        <div class="section__header">
            <h2 class="section__title">Флот</h2>
        </div>
        <div class="section__content">
            <div class="navy">
                <div class="navy__grid">
                    @@include('components/swiper.html', {
                        "id": "navy",
                        "template": "navy"
                    })
                </div>
            </div>
        </div>
    </div>
</section>
