<p class="date">17 апреля 2023</p>

<p>Из разных стран мира — Испании, Италии, Греции, Турции, Германии – поступают грузы в Самарский речной порт, а отсюда в Иран, Болгарию, Турцию и другие страны Европы и Азии. Порт по-прежнему обеспечивает город и область речным песком и другими минерально-строительными грузами.</p>

<p>На территории порта расположены два закрытых склада площадью более 5 тысяч квадратных метров, а также большие открытые складские площади. Ко всем причалам и складам подведены железнодорожные пути
    и автодороги.</p>

<p>Гарантированные глубины у причалов порта и на подходах к ним 4 метра.
    Это допускает обработку у причалов грузовых теплоходов грузоподъемностью до 5300 тонн, таких как «Волго-Дон», «Волжский», «Сормовский», «Волго-Балт», в том числе и все суда типа «река-море», выполняющие загранперевозки.</p>

<img data-src="images/news/news-02.jpg" src="" alt="Морской порт Актау получил статус международного">

<p>В тыловой части грузового района располагаются один портальный кран типа «Кировец» грузоподъемностью 10 тонн.</p>

<p>Кроме этого на фронтальной грузовой причальной стенке имеется кран «Деррик» грузоподъемностью 100 тонн.</p>

<p>На территории порта имеется железнодорожный повышенный путь для выгрузки навалочных грузов из полувагонов или вагонов типа Думкар.</p>

<p>На территории порта имеются открытые площадки для складирования различных родов груза, а также крытые не отапливаемые склады общей площадью 5000 кв. метров.</p>
