@import 'partials';

.email {
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
  color: #245BA7;
  white-space: nowrap;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    transition-duration: 0.15s;
    background: #245BA7;
  }

  &:hover,
  &:focus {
    &::after {
        opacity: 0;
    }
  }

  @include ms(md) {
    font-size: 18px;
    font-weight: 400;
    line-height: 133%;
  }
}
