@import 'partials';

.event {
  &__list {
    &.grid {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 56px 32px;
    }
  }

  &__link {
    display: block;
  }

  &__content {
    padding-top: 16px;
  }

  &__date {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    color: $gray-light;
  }

  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 125%;
  }

  @include ms(xl) {
    &__list {
      &.grid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 42px 32px;
      }
    }
  }

  @include ms(lg) {
    &__title {
      font-size: 22px;
    }
  }

  @include ms(md) {
    &__list {
      &.grid {
        grid-template-columns: 1fr;
        grid-gap: 24px;
      }
    }

    &__date {
      font-size: 16px;
    }

    &__title {
      font-size: 20px;
    }
  }
}
