@import 'partials';

.phone {
  font-size: 20px;
  font-weight: 600;
  white-space: nowrap;

  &--header {
    color: $white;

    .header-fixed &,
    .header--white & {
      color: $black;

      @include hover {
        color: $primary;
      }
    }

    @include hover {
      color: $white;
      opacity: 0.85;
    }
  }
}


