@import 'partials';

.stats {
  color: $primary;

  &__grid.grid {
    grid-gap: 96px;

    @include ms(sm) {
      grid-gap: 32px;
    }
  }

  &__item {
    text-align: center;
  }

  &__number {
    font-size: 72px;
    font-weight: 300;
    position: relative;

    @include ms(sm) {
      font-size: 48px;
    }
  }

  &__value {
    line-height: 1;
    position: relative;
    display: inline-block;
  }

  &__sup {
    position: absolute;
    top: 28px;
    margin-left: 8px;
  }

  &__text {
    font-size: 18px;
  }
}
