<h2>Акционерное общество «Самарский речной порт» предлагает услуги во временное владение и пользование, а также на предоставление для оказания услуг флота следующие суда:</h2>

<p>Буксиры – толкачи:</p>

@@include('components/table.html', {
    "path": "service-02/table/table-01"
})

<p>Несамоходные сухогрузные суда:</p>

@@include('components/table.html', {
    "path": "service-02/table/table-02"
})

<p>Плавучие краны:</p>

@@include('components/table.html', {
    "path": "service-02/table/table-03"
})

<p>Также Акционерное общество «Самарский речной порт» предлагает услуги по перевозке инертных грузов, пиломатериалов, гипса и пр. в составе буксир – толкач с баржами г/п 2 500 тонн.</p>
