<h2>Песок природный для строительных работ соответствует второму классу по группе «очень мелкий» ГОСТ 8736-2014 с площадок, расположенных по адресам:</h2>

<ul>
    <li>
        <p>443099, г. Самара, Стрелка рек Волги и Самары</p>
        <p>Отгрузка производится:</p>
        <p>ПН.- СБ. — круглосуточно</p>
        <p>ВС. — выходной день</p>
    </li>
    <li>
        <p>443090, г. Самара, ул. Тракторная, левый берег р. Самары</p>
        <p>Отгрузка производится:</p>
        <p>ПН.-ЧТ. 8:00 – 16:30</p>
        <p>ПТ. 8:00 – 14:50</p>
        <p>СБ.,ВС. — выходной день</p>
    </li>
</ul>

@@include('components/table.html', {
    "path": "catalog-01/table/table-01"
})


