<div class="history__box">
    <div class="history__aside">
       <p class="history__date">1875-1876</p>
    </div>
    <div class="history__info">
       <p>Рост грузооборота пристаней вызвал необходимость прокладки железной дороги для их обслуживания.
          По прибрежной полосе вдоль рек Самары и Волги были проложены железнодорожные пути. 12 августа 1875 года началось движение поездов от пристани в Самаре до станции Самара Оренбургской железной дороги.
          До 70-х годов прошлого столетия река Волга была основной транспортной магистралью, связывающей Самару с другими городами Поволжья от Верховий до Каспийского моря. В то время в Самаре было несколько небольших казенных пристаней и пристаней купеческих обществ. Их навигационный грузооборот в 1876 году составлял всего 18766 пудов.</p>

       <p>В 80-х годах Самара стала уже важным транспортным узлом, связывающим регионы страны с Южным Уралом и Средней Азией.</p>
    </div>
 </div>
