<div class="history__box">
    <div class="history__aside">
       <p class="history__date">1586</p>
    </div>
    <div class="history__info">
       <p>432 года тому назад, летом 1586 года, недалеко от устья реки Самары, на возвышенном берегу Волги, была сооружена Крепость Самара, Благодаря Самаре, осваивались огромные просторы пустынных степей Заволжья, Южного Урала, отсюда завязывались выгодные торговые отношения со средне-азиатскими странами. Прибывали в Самару и уходили торговые суда: струги, галеры, бригантины. Сначала для приема судов осваивались более удобные прибрежные участки глубокой заводи в устье реки Самары, а позднее, с ростом города, для их причаливания стали использоваться и Волжские берега.</p>

       <p>В то время термина речной порт вообще не было, а был просто причальный (пристанской) пункт. Чаще всего он представлял собой естественный берег, обозначенный шестом или флагом, где для швартовки судов использовались прибрежные предметы (деревья, пни, столбы, камни), позднее пристанское устройство можно было отличить по примитивным мосткам, уходившим с берега далеко в воду. На них и производилась вручную перевалка грузов с судов. Разрасталось на прибрежной полосе и складское хозяйство: амбары, пакгаузы, навесы, лабазы. Безусловно все это еще никак не было похоже на речной порт.</p>
    </div>
 </div>
