<div class="history__box">
    <div class="history__aside">
       <p class="history__date">1948</p>
    </div>
    <div class="history__info">
       <p>С апреля 1948 года, как известно пристань получает статус порта. Начальником порта назначается Фролов Николай Матвеевич. Первые главные инженеры Ермаков Александр Владимирович, позднее Ратник Владимир Иванович. Проводится большая работа по благоустройству территории. С 1950 года по 1958 год порт интенсивно оснащается различной перегрузочной техникой: портальными и плавучими кранами грузоподъемностью 3,5, 10,16 тонн, электро- и авто погрузчиками, бульдозерами, новыми более совершенными видами пассажирского и грузового флота.</p>
    </div>
 </div>
