<div class="history__box">
    <div class="history__aside">
       <p class="history__date">1600-1639</p>
    </div>
    <div class="history__info">
       <p>И вот спустя четырнадцать лет после возникновения Крепости, со стороны реки Самары было пришвартовано вполне совершенное, по тем временам, плавучее причальное сооружение – дебаркадер. И характерно,
          что это была не купеческая, а «казенная» пристань – пристань для приема царских судов. С обретения такого важного и совершенного причального пункта Крепость Самара еще более укрепила свою государственную значимость. В книге «Хроника событий 1586-1986 годов», Куйбышевского книжного издательства 1985 года, выпущенной к 400-летию города Самары, сообщается, что летом 1600 года «в Самаре открыта пристань для царских судов, ходивших в Астрахань за солью (Елшин А.Г. Самарская хронология, Самара, 1918, вып.
          1, с. 8).</p>

       <p>С лета 1600 года, собственно, и начинается история порта — на реках Самаре и Волге.</p>

       <p>Важную роль играла пристань в дальнейшем развитии и становлении города. Уже в 1610 году Самара показана в реестре городов Московского княжества. Городок разрастался, простираясь вверх по Волге,
          в сторону Жигулевских гор. Увеличивалась вдоль Волги и причальная полоса, устанавливались новые причальные мостки, купеческие и казенные пристани, развивалось пристанское складское хозяйство. Грузооборот пристаней исчислялся уже сотнями пудов.</p>

       <p>В 1639 году, через Волгу организована переправа, а в 1688 году Крепость Самара переименована в город.
          Как свидетельствуют хронологические данные регулярное движение пароходов по Волге открыто в 1843 году, а 16 апреля 1860 года стало началом постоянных рейсов пассажирского парохода от Твери до Саратова,
          с остановкой в Самаре.</p>
    </div>
 </div>
