<div class="history__box">
    <div class="history__aside">
       <p class="history__date">1953-1955</p>
    </div>
    <div class="history__info">
       <p>Многое сделано портом в период 1953-1955 год для строительства Волжской ГЭС.Первым прошел через шлюзы ГЭС с секцией древесины теплоход порта РБТ-1 (капитан Ю.М. Сычев) в сентябре 1955 года. Развиваются контейнерные перевозки. Внедряется высокопроизводительный гидромеханизированный способ добычи песка земснарядом «Портовый-12» с глубины 14 метров, а с 1964 года выгрузки песка таким способом.</p>
    </div>
 </div>
