<div class="history__box">
    <div class="history__aside">
       <h2 class="history__title">К 70-ти летию Самарского (Куйбышевского) речного порта назвали пристань – портом Самара</h2>
    </div>
    <div class="history__info">
       <p>
          В краю древних Жигулевских гор, в крупном промышленном и культурном центре — городе Самаре — расположен наш речной порт. 24 апреля 2023 года исполняется 75 лет с того дня, когда пристань Куйбышев стала называться портом. Это произошло в период реорганизации пароходств Волжского бассейна.</p>
       <p>
          Конечно же, дата переименования пристани в порт не является началом образования порта. Дата его образования имеет глубокие исторические корни – четырехвековую давность. Пристань или порт называют воротами города на водную магистраль, в связи с чем, история Самарского речного порта тесно связана
          с историей образования и развития города Самары и ее области.</p>
    </div>
 </div>
