
<div class="history__box">
    <div class="history__aside">
       <p class="history__date">1946</p>
    </div>
    <div class="history__info">
       <p>Начиная с 1946 года коллектив пристани приступил к приведению в порядок своего хозяйства. Многое сделано пристанью для развития местных перевозок грузов, добычи, доставки минеральных грузов
          (песка, гравия, щебня) к местам строительства промышленного и жилищного строительства, в послевоенные годы, для города и области.</p>
    </div>
 </div>
