<div class="history__box">
    <div class="history__aside">
    <p class="history__date">1905-1917</p>
    </div>
    <div class="history__info">
    <p>Судоходство на Волге находилось в руках множества акционерных компаний, которых по переписи 1913-1914 годов насчитывалось более двух тысяч. Крупными из этих компаний были: «Братья Каменские и Мешков», «Кавказ и Меркурий», «По Волге», «Самолет», «Русь» и другие. Единой пристани по-прежнему не было.
        Она состояла из агентств и контор, вышеперечисленных, акционерных обществ и множества мелких хозяйств, конкурирующих между собой.</p>

        <p>Распыление флота, отсутствие единой технической политики, объяснялась его крайняя разнотипность, что сдерживало развитие пристанского хозяйства. К 1905 году в Самаре насчитывалось пять основных пассажирских и грузовых пристаней, где работало до четырех тысяч грузчиков. Было 135 деревянных амбаров (складов) которые вмещали 200 тысяч тонн хлеба (зерна). На пристани прибывало 250 тысяч тонн и отправлялось 350 тысяч тонн различных грузов, в основном хлебных.</p>

        <p>В предреволюционный период значительных изменений в обустройстве пристаней Самары не произошло.
        В эти годы на пристанях Самары, по данным судоходной дистанции, в среднем, перерабатывалось
        65 миллионов пудов за навигационное время.</p>

        <p>После свершения Октябрьской революции 1917 года речной транспорт был национализирован и стал собственностью Советской республики. К концу 1918 года в Самаре насчитывалось 8 пристаней, и в Сызрани 6 пристаней. Гражданская война и разруха, голод и эпидемии наложили тяжелый отпечаток на речной транспорт. Начался длительный период восстановления пристаней и флота.</p>
    </div>
</div>
