<div class="history__box">
    <div class="history__aside">
       <p class="history__date">1963-1967</p>
    </div>
    <div class="history__info">
       <p>Особенно, бурное развитие порта и флота происходило в период строительства Саратовской ГЭС, т.к. на Волге образовались более сложные, озерные условия плавания, резко увеличилась ширина русла Волги и ее притоков, поднялся уровень воды более чем на 4 метра. В этот период были построены такие крупные, оснащенные высокопроизводственной перегрузочной техникой подразделения порта, как Центральный грузовой район (1963-1968 г.г.) на стрелке рек Волги и Самары, Сызранский речной порт (1969 год), произведена реконструкция участка Верхний Мол (1966-1967 г.г.)</p>
    </div>
 </div>
