<div class="history__box">
    <div class="history__info">
    <p>В истории порта навсегда останутся имена таких капитанов-судоводителей, кому довелось осваивать в работе этот флот, как Б.Р. Целицкий, Н.Н. Нужин, В.В. Курочкин, В.М. Пилипук, В.А. Маркочев и другие, а также
        на грузовом флоте – В.П. Емосуев, Ю.М. Громов, А.М. Климов, А.Ф. Сорин.</p>

    <p>За 70 лет существования предприятия, как порта, его первыми руководителями-начальниками порта были: Н.М. Фролов, В.И. Кокурин, В.С. Булатов, А.М. Пыхтин, Ю.Т. Фарафонтов, С.Н. Любимов. Главными инженерами порта – А.В. Ермаков, В.И. Ратник, В.А. Климков, В.И. Носов, М.И. Зайцев, Н.А. Дрынкин.
        Все они заслуживают доброй памяти и уважения.</p>
    </div>
</div>
