<div class="history__box">
    <div class="history__aside">
       <p class="history__date">1941-1945</p>
    </div>
    <div class="history__info">
       <p>Пристань Самара к 1929 году складывается как единая транспортная единица. Отдельные пристани стали называться причалами. В эти годы решаются задачи набора рабочей силы и строительства для нее жилья.
          В 1932 году под Некрасовским спуском строится городок для грузчиков барачного типа.</p>

       <p>Начальником пристани назначается Заверткин Николай Федорович. Для руководства производственным процессом вводится диспетчерская служба.</p>

       <p>В 1934 году введена первая очередь нового архитектурно и красиво оформленного деревянного речного вокзала. Полностью его обустройство было закончено в 1958 году. Строятся новые и приводятся в порядок старые складские помещения. Возводятся по улице М. Горького благоустроенные кирпичные дома
          (1935-1936 г.г.), на улице Л. Толстого, позднее в поселках Кряж и Проран.</p>

       <p>На городском участке пристани, расположенном вдоль прибрежной Волжской полосы, появляются первые механизмы для подъема грузов «Брем-сберги» с двумя тележками. Затем два таких механизма на участке Верхний Мол. На реке Самаре. Устанавливаются первые конвейеры с деревянными рамами и хлопчатобумажной лентой. Первые механизаторы С.Ф. Суров и Бояров. На пристани преобладал ручной труд. В 1934 году было переработано 194 тысячи тонн грузов, из них 23,3 тысячи тонн с применением механизмов. Грузчиков тогда на пристани насчитывалось 1778 человек.</p>

       <p>Уже в 1935 году переработка грузов возросла в два с лишним раза. На пристань прибыл первый инженер
          с дипломом Федор Гаврилович Янин. На грузовые участки интенсивно поступала перегрузочная техника: «катучие» краны грузоподъемностью 1,5 тонны, плавучие перегружатели для выгрузки навалочных грузов (песка, гравия), краны «Деррик» грузоподъемностью 5 тонн, деревянные транспортеры заменяются на металлические и протягиваются в лабазы (склады). С 1935 года пристань Самара переименована в пристань Куйбышев, в связи с переименованием города.</p>
    </div>
 </div>
