<a class="logo@@if(context.id){ logo--@@id @@id__logo}" href="index.html">
    <div class="logo__wrapper">
        <div class="logo__image">
            <img src="images/logo@2x.png" alt="Логотип">
        </div>
        <div class="logo__content">
            <div class="logo__text"><span class="logo__text-desktop">Акционерное общество</span> <span class="logo__text-mob">АО</span> «Самарский речной порт»</div>
            <div class="logo__subtext">АО «Порт Самара»</div>
        </div>
    </div>
</a>
