<h2>Акционерное общество «Самарский речной порт» предлагает услуги по перевалке любых грузов с судов на грузовую причальную стенку, автотранспорт, ж/д транспорт, а также с авто
    и ж/д транспорта в судно.</h2>

<p>Фронтальная часть грузовой причальной стенки оборудована следующими портальными кранами:</p>
<ul>
    <li>Портальный кран типа «Альбрехт» г/п 10 тонн – 2 ед.</li>
    <li>Портальный кран типа «Альбатрос» г/п 10 тонн – 1 ед.</li>
    <li>Портальный кран типа «Ганц» г/п 5/6 тонн – 2 ед.</li>
    <li>Портальный кран типа «Ганц» г/п 16/27,5 тонн – 2 ед.</li>
</ul>

<p>Кроме этого на фронтальной грузовой причальной стенке имеется кран «Деррик» грузоподъемностью
    100 тонн.</p>

<p>В тыловой части грузового района располагаются портальный кран типа «Кировец» г/п 10 тонн – 1 ед.
    Также на территории порта имеется железнодорожный повышенный путь для выгрузки навалочных грузов из полувагонов или вагонов типа Думкар.</p>

<p>На погрузочно-разгрузочные работы и связанные с ними дополнительные услуги и работы, а также услуги по хранению и складированию грузов в Акционерном обществе «Самарский речной порт» подходят индивидуально к каждому клиенту.</p>
